.DS_Store
.idea/
full-project/
*/target/

*.iml
*.jar
images/tests/users-and-teams-specs/

application-dbLogin.properties

images/server/server.jar
images/tests/pom.xml
images/tests/src/
images/tests/target/
